.tile{
    cursor: pointer;
    background-color:#eeeeee
}
.selectedTile{
    background-color: white;
}
.fas-hover{
    border: 1px solid transparent;
}
.fas-hover:hover{
    border: 1px solid #cccccc;
}
#spiroMover{
    z-index:99;
}
